<!DOCTYPE html>
<html>
<body>

<p>Dear {{ user.username }},</p>

<p>Your order for {{ product_title }} is {{ status }}. Thank you for shopping with us!</p>

<p>Order Details:</p>
<ul>
    <li>Product: {{ product_title }}</li>
    <li>Quantity: {{ quantity }}</li>
    <li>Total Cost: {{ total_cost }}</li>
</ul>

<p>If you have any questions or concerns, feel free to contact our customer support.</p>

<p>Thanks for choosing Nuturemite!</p>

<p>Sincerely,<br>
The Nuturemite Team</p>

</body>
</html>
