{% extends 'app/base.html' %}
{% load static %}

{% block title %}Change Password{% endblock title %}

{% block styles %}
    <style>
        body {
            background-color: #f8f9fa;
            font-family: 'Arial', sans-serif;
        }

        .container {
            margin-top: 50px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .alert-heading {
            color: #007bff;
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
        }

        b {
            color: #28a745;
        }

        .row {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
{% endblock styles %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-8 offset-sm-2 text-center">
            <h3 class="alert-heading">Well Done</h3>
            <p>An email has been sent with instructions to reset your password. <b>Please check your email.</b></p>
        </div>
    </div>
</div>
{% endblock main-content %}
