{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}
  <link rel="stylesheet" href="{% static 'app.css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'app.css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'app.css/style.css' %}">

  


<!-- About 4 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8">
  <div style="max-width: 1000px; margin: 0 auto;">
    <div style="margin: 0 -15px;">
        <h1 class="text-center" style="font-size: 3.0rem; color: #000000; text-transform: uppercase; margin-bottom: 0.5rem;">About Us</h1>
        <h2 style="font-size: 2.5rem; margin-bottom: 1rem;">Nuturemite is a website that offers credible information, helping you make healthy eating choices.</h2>
        <button style="font-size: 1.25rem; padding: 0.75rem 1.5rem; margin-bottom: 1rem; background-color: #007bff; border: none; color: #fff; cursor: pointer; text-align: center; text-decoration: none; display: inline-block; border-radius: 0.25rem;">Connect Now</button>
    </div>
</div>


  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0">
      <div class="col-12 col-lg-6">
        <div class="card bg-light p-3 m-0">
          <div class="row gy-3 gy-md-0 align-items-md-center">
            <div class="col-md-5">
              <img src="https://yt3.ggpht.com/tU6fiH2B8cEsxp-2EYaQOJhPtpjOuNgJluRlUDv79WTGCBnBswq6oiR0h8UbhmutBozGxAPRWA=s900-c-k-c0x00ffffff-no-rj" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7">
              <div class="card-body p-0">
                <h2 class="card-title h4 mb-3">What we do?</h2>
                <p class="card-text lead">Nuturemite offers a comprehensive platform for personalized health information, connecting users with expert professionals for tailored advice on nutrition, recipes, and age-specific wellness. Our focus on individual needs extends to high-quality food supplements based on prescriptions, promoting holistic well-being.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="card bg-light p-3 m-0">
          <div class="row gy-3 gy-md-0 align-items-md-center">
            <div class="col-md-5">
              <img src="https://th.bing.com/th/id/OIP.YIRNSgA7D8RYoI_Ngn3TdwAAAA?rs=1&pid=ImgDetMain" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7">
              <div class="card-body p-0">
                <h2 class="card-title h4 mb-3">Who we are?</h2>
                <p class="card-text lead">Nuturemite, through our website, connects individuals with expert nutritionists and dietitians. Our professionals design personalized nutrition, guiding individuals on the right food choices and consumption practices based on their unique needs. Emphasizing the importance of timing and manner of consumption.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0">
      <div class="col-12 col-lg-6">
        <div class="card bg-light p-3 m-0">
          <div class="row gy-3 gy-md-0 align-items-md-center">
            <div class="col-md-5">
              <img src="https://th.bing.com/th/id/OIP.MxcfpUEnNttlUKJwI2ZRUQHaHa?rs=1&pid=ImgDetMain" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7">
              <div class="card-body p-0">
                <h2 class="card-title h4 mb-3">Vision:</h2>
                <p class="card-text lead">We at Nuturemite respect and appreciate all the health care professionals who take time for their clients. We believe in partnerships with health care professionals. We are eager to take time to listen to our customers and to understand their needs. We really focus on our mission, which is truly important and meaningful to us.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="card bg-light p-3 m-0">
          <div class="row gy-3 gy-md-0 align-items-md-center">
            <div class="col-md-5">
              <img src="https://th.bing.com/th/id/OIP.MBOiGamODCMQbMbJf6w9UwAAAA?rs=1&pid=ImgDetMain" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7">
              <div class="card-body p-0">
                <h2 class="card-title h4 mb-3">Mission:</h2>
                <p class="card-text lead">Nuturemite aspires to support the health of an individual by suggesting appropriate foods, as per their body's acceptability, which in turn builds a healthy society. In the journey to achieve our vision, we are at your service, presenting expertized professionals and making up their accessibility. Thereby, clients or patients.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0">
      <div class="col-12 col-lg-6">
        <div class="card bg-light p-3 m-0">
          <div class="row gy-3 gy-md-0 align-items-md-center">
            <div class="col-md-5">
              <img src="https://th.bing.com/th/id/OIP.kYlYE6kPZ3WxMrcO66U2aQAAAA?rs=1&pid=ImgDetMain" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7">
              <div class="card-body p-0">
                <h2 class="card-title h4 mb-3">CONSULTATION:</h2>
                <p class="card-text lead">We provide online consultation with high-profile professionals in health care, diet, fitness, etc., who will consider the aroused suspicions in your minds and resolve the complications you are facing. Based on your query, the relevant professional gets versed and suggests you to act accordingly. We provide you with a timely response.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="card bg-light p-3 m-0">
          <div class="row gy-3 gy-md-0 align-items-md-center">
            <div class="col-md-5">
              <img src="https://th.bing.com/th/id/OIP.mJMO9EQJdXMvjuQvSgtFpgAAAA?rs=1&pid=ImgDetMain" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-7">
              <div class="card-body p-0">
                <h2 class="card-title h4 mb-3">OUR SPECIALITY:</h2>
                <p class="card-text lead">Despite being busy with hectic schedules of health care professionals, it's our pleasure to bring the access to you with high-profile dietitians, nutritionists, fitness trainers, etc., for attending your doubts. Our vision started, keeping in mind the health issues prevailing around our society. So, with your pat on our back.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main-content %}
